/* General Reset */
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@0;1&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@0;1&family=Didact+Gothic&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@0;1&family=Didact+Gothic&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html, body {
    scroll-behavior: smooth;
    overscroll-behavior-y: none; /* Prevents overscroll on vertical scrolling */
    max-width: 100%;
    overflow-x: hidden;
}

body {
    margin: 0;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300; /* Regular weight */
    font-style: normal;
    background-color: #f9f9f9;
    color: #333;
    min-width: 400px;
}

/* Hero Section Styles */
.hero {
    margin: 0;
    position: relative;
    width: 100%;
    height: 100vh; /* Full screen height */
    display: flex;
    justify-content: start;
    align-items: center;
    overflow: hidden;
}

.hero-title {
    position: absolute;
    top: 50%; /* Center vertically */
    left: 15px;
    transform: translateY(-50%);
    text-align: left;
    color: rgb(0, 0, 0);
    z-index: 3; /* Ensure title is above the background */
}

.main-title {
    font-size: calc(2rem + 5vw);
    text-transform: uppercase;
    margin: 0;
    padding: 10px calc(2vw);
    line-height: 1.2;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
}

.hero-image {
    position: absolute;
    width: 100%; /* Make the image cover the entire width of the container */
    height: 100%; /* Make the image cover the entire height of the container */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.hero-image img {
    min-width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    z-index: -1;
}

.hero-image img.active {
    opacity: 0.8;
    z-index: 2;
}

/* Navigation Bar */
.top-bar {
    display: flex;
    position: fixed;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adds shadow */
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s, box-shadow 0.2s; 
    z-index: 10;
    box-sizing: border-box;
}

.top-bar.transparent {
    background-color: transparent;
    box-shadow: none;
}

.nav-title {
    color: rgb(0, 0, 0);
    font-size: 1.2rem;
    text-transform: uppercase;
    margin: 5px 0 0 15px;
    transition: opacity 0.2s ease-in-out;
    opacity: 1;
}

.nav-title.transparent {
    opacity: 0;
}

.nav-links {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
}

.nav-links li a {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
    display: inline-block;
}

.nav-links li a:hover {
    transform: scale(1.05);
}

.nav-links li a:active {
    transform: scale(0.98);
}

nav[aria-label="Top Bar Navigation"] {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

nav[aria-label="Top Bar Navigation"] .nav-links {
    margin: 0;
    padding: 0;
    text-align: right;
    top: 50%;
    transform: translateY(-50%);
}

nav[aria-label="Top Bar Navigation"] .nav-links li a {
    color: black;
    padding: 10px;
    margin: 0 10px;
}

nav[aria-label="Top Bar Navigation"] .nav-links li a:hover {
    background-color: #333;
    color: white;
    cursor: pointer;
}

/* Hamburger Menu & Sidebar */
.hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 21px;
    cursor: pointer;
    z-index: 15;
    position: fixed;
    top: 30px;
    right: 30px;
    transition: all 0.3s ease;
}

.hamburger .line {
    width: 30px;
    height: 4px;
    background-color: black;
    transition: all 0.3s ease;
}

/* Sidebar */
.sidebar {
    position: fixed;
    top: 0;
    right: -300px;
    width: 300px;
    height: 100%;
    background-color: #333;
    padding: 20px 0;
    z-index: 15;
    transition: right 0.3s ease;
    opacity: 0.8;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.sidebar .nav-links {
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    padding: 0;
}

.sidebar .nav-links li {
    margin: 15px 0;
}

.sidebar .nav-links li a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 10px 25px;
}

.sidebar .nav-links li a:hover {
    color: #f1f1f1;
}

/* Main Content */
.content {
    padding: 50px 25px;
    text-align: center;
    background-color: #fff;
}

#section-container {
    background: #f9f9f9;
    border-radius: 6px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    align-items: center;
    padding: 40px;
    justify-content: space-between;
}

#secion-container h2 {
    margin: 0 0 60px 0;
}

#contact-us {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: 40px;
    position: relative;
    justify-content: space-around;
}

.contact-form {
    width: 100%;
}

#contact-form {
    max-width: 600px;
    text-align: left;
    width: 100%;
    margin: 0 auto;
}

.contact-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 30px 0;
}

/* Buttons & Inputs */
.social-icon {
    width: 55px; 
    height: 55px;
    padding: 10px;
    transition: transform 0.3s ease;
}

.social-icon:hover {
    transform: scale(1.1);
}

input, textarea {
    width: 100%;
    padding: 12px;
    margin: 8px 0 20px 0;
    border: 1px solid #bbb;
    border-radius: 6px;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    display: block; /* Ensures consistent alignment */
    box-sizing: border-box; /* Prevents unwanted extra width */
}

input:focus, textarea:focus {
    outline: none;
    border-color: #333;
}

button:not(.nav-btn){
    width: 100%;
    padding: 12px;
    background-color: black; /* Dark background when hovered */
    color: white;
    border: none;
    font-size: 18px;
    cursor: pointer;
    border-radius: 6px;
    font-weight: 500;
    transition: background-color 0.5s ease, transform 0.2s ease;
}

button:not(.nav-btn):hover {
    background-color: #222; 
    transform: scale(1.05); 
}

button:not(.nav-btn):active {
    transform: scale(0.98);
    background-color: #111;
}

#response-message {
    margin-top: 10px;
    color: green;
    text-align: center;
    font-weight: 500;
    transition: opacity 0.2s ease-in-out;
}

.visible {
    opacity: 1;
}

.invisible {
    opacity: 0;
}

.required {
    color: rgb(212, 1, 1);
}

/* Miscellaneous */
footer {
    margin-left: 20px;
}

/* Indicators Section */
.indicators {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    z-index: 3;
}

.indicator {
    width: 12px;
    height: 12px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    cursor: pointer;
    scale: 1;
    transition: background-color 0.3s, transform 0.5s ease;
}

.indicator.active {
    background-color: white;
    transform: scale(1.3);
}

/* Media Queries */
@media screen and (max-width: 890px) {
    nav[aria-label="Top Bar Navigation"] .nav-links {
        opacity: 0;
        visibility: hidden;
        transform: translateX(80px);
        transition: opacity 0.4s ease-in-out, transform 0.5s cubic-bezier(0.34, 1.56, 0.64, 1), visibility 0.4s ease-in-out;
    }

    .hamburger {
        display: flex;
        animation: suckIn 0.5s ease-out;
    }

    .hamburger.open {
        transform: translateX(-290px);
    }

    .sidebar.open {
        right: 0;
    }

    .hamburger.open .line:nth-child(1) {
        transform: rotate(45deg) translateY(10px);
    }

    .hamburger.open .line:nth-child(2) {
        opacity: 0;
    }

    .hamburger.open .line:nth-child(3) {
        transform: rotate(-45deg) translateY(-10px);
    }
}

@media screen and (min-width: 891px) {
    nav[aria-label="Top Bar Navigation"] .nav-links {
        opacity: 1;
        transform: translateX(0);
        transition: opacity 0.4s ease-in-out, transform 0.5s ease-in-out, visibility 0.4s ease-in-out;
    }

    .hamburger {
        animation: none;
    }
}

@keyframes suckIn {
    0% {
        transform: scale(1);
    }
    30% {
        transform: scale(1.1);
    }
    50% {
        transform: rotate(15deg);
    }
    80% {
        transform: rotate(-5deg);
    }
    100% {
        transform: rotate(0deg) scale(1);
    }
}